.hbox-top {
    -fx-background-color: #34495e;
    -fx-padding: 10;
    -fx-spacing: 15;
    -fx-alignment: center;
    -fx-border-color: #2c3e50;
}

.hbox-top .label {
    -fx-font-size: 14px;
    -fx-text-fill: #ecf0f1;
    -fx-font-weight: bold;
}

.hbox-top .combo-box {
    -fx-pref-width: 150;
    -fx-border-radius: 5;
    -fx-font-size: 14px;
    -fx-padding: 5;
}

.confirm-button {
    -fx-background-color: #1abc9c;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-padding: 5 15;
    -fx-background-radius: 5;
    -fx-cursor: hand;
}

.confirm-button:hover {
    -fx-background-color: #16a085;
}

.confirm-button:pressed {
    -fx-background-color: #148f77;
}

.vbox {
    -fx-spacing: 15;
    -fx-padding: 10;
    -fx-background-color: #ecf0f1;
    -fx-border-color: #bdc3c7;
    -fx-border-width: 2;
    -fx-border-radius: 5;
}

.titled-pane > .title {
    -fx-font-size: 20px;
    -fx-alignment: center;
    -fx-font-weight: bold;
    -fx-padding: 10;
}

.chart {
    -fx-border-width: 2;
    -fx-border-radius: 5;
    -fx-padding: 5;
}

#incomeChart
, #incomePane{
    -fx-border-color: #2ecc71;
}

#expenseChart
, #expensePane{
    -fx-border-color: #e74c3c;
}

#savingsChart
, #savingsPane{
    -fx-border-color: #3498db;
}

#combinedChart {
    -fx-border-color: #9b59b6;
}

.chart-title {
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-text-fill: white;
    -fx-padding: 5;
    -fx-alignment: center;
}

#incomeChart .chart-title
, #incomePane > .title {
    -fx-background-color: #2ecc71;
}

#expenseChart .chart-title
, #expensePane > .title {
    -fx-background-color: #e74c3c;
}

#savingsChart .chart-title
, #savingsPane > .title {
    -fx-background-color: #3498db;
}

#combinedChart .chart-title {
    -fx-background-color: #9b59b6;
}

